*{

}
#content{
    width: 100%;
    height:100%;
}
#leftMenu{
    height:100%;
    width:20%;
    position:absolute;
    left:0;
    top:0;
    background-color: #58CAFD;
}

#right{
    width:80%;
    height:100%;
    position: absolute;
    left:20%;
    top:0;
    background-color: #F1F1F1;
}